.employeePageWrapper{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
}

.employeePageMain{
    height: 80%;
    width: 100%;
    display: flex;
    background-color: #FFF9F9;
}

.floorcontent{
    flex: 2;
    background-color: white;
    text-align: center;
    margin: 50px;
    outline: solid 2px;
}

.inventorycontent{
    flex: 2;
    background-color: white;
    text-align: center;
    margin: 50px;
    outline: solid 2px;
    max-height: 93%;
}

.inventorycontent > h1{
    margin-bottom: 0px;
    outline: solid 2px;
}

.tablewrapper{
    max-height: inherit;
    overflow-y: scroll;
}

.tablewrapper table thead th {
    position: sticky;
    top: 0;
}

.floorcontent > h1{
    outline: solid 2px;
}

.floornumber{
    float: left;
    margin-left: 10px;
}

.floorbody{
    max-height: 300px;
    overflow-y: scroll;
}