
.employeePageWrapper{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
}

.employeePageMain{
    height: 80%;
    width: 100%;
    display: flex;
    background-color: #FFF9F9;
}

.floorcontent{
    flex: 2;
    background-color: white;
    text-align: center;
    margin: 50px;
    border-left: 1px inset #dee2e6;
    border-right: 1px inset #dee2e6;
    border-bottom: 2px solid #2a2a2a;
    overflow: hidden;
}

.floorcontent > h1{
    margin-bottom: 0px;
    background-color: #2a2a2a;
    color: white;
    outline: solid 2px;
}

.pagecontent{
    flex: 2;
    background-color: #FFF9F9;
    text-align: center;
    margin: 50px;
    max-height: 93%;
}

.pagecontent > h1{
    margin-bottom: 0px;
    background-color: #2a2a2a;
    color: white;
}

.tablewrapper{
    min-height: inherit;
    max-height: inherit;
    overflow-y: scroll;
    border-bottom: 2px solid #2a2a2a;
    border-left: 1px inset #dee2e6;
    border-right: 1px inset #dee2e6;
    background-color:white;
}

.tablewrapper table thead th {
    position: sticky;
    top: 0;
}

.floornumber{
    float: left;
    margin-left: 10px;
}

.floorbody{
    max-height: 300px;
    overflow-y: scroll;
}

.floorDiv{
    margin-top: 30px;
}

.floorDiv:first-child{
    margin-top: 10px;
}   
  ::-webkit-scrollbar {
    width:  5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background:  white;
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  #232E33;
    border-radius: 100px;
}