.roomListDiv{
    width: 80vw;
    display: grid;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 12.5px;
    display: flex;
    flex-wrap: wrap;               
    justify-content: center;
}

.cardLink{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    height: 25rem;
    width: 100%;
    font-size: 30px;
    color: black;
    flex-basis: 10%;
    margin: 20px;
}

.cardLink2{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    height: 25rem;
    width: 100%;
    font-size: 30px;
    color: black;
    flex-basis: 10%;
    margin: 20px;
    margin-top: 0px;
}

.roomCard{
    width: inherit;
    height: inherit;
    background-color: white;
    cursor: pointer;
    border: solid 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.roomCard:last-child{
    margin-bottom: 30px;
}

.roomCardImgDiv{
    width: inherit;
    height: 13rem;
}
.roomCardImgDiv > img{
    height: inherit;
    width: inherit;
}

.roomCardText{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.roomCardText h1{
    margin: 0;
    font-size: 30px;
    float: left;
}


.roomCardText p{
    font-size: 20px;
}


.roomCardText h1{
    margin-top: 10px;
    font-size: 35px;
}
.roomCounter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomCounter > p{
    height: 30px;
    margin-bottom: 0px;
    border: solid 1px;
    border-radius: 20px;
    border-color: black;
    width: 30px;
    background-color: white;
}

.roomCounter > p:hover{
    background-color: gray;
}
.roomCounter span{
    margin: 20px;
}

.tenantDetails{
    display: flex;
    flex-wrap: wrap;
}

.tenantDetails > p{
    flex-basis: 50%;
}

.roomDetails > button{
    margin-right: 10px;
}