.RoomPage{
    display: flex;
}

.RoomDescription{
    width: 40vw;
    border: solid 1px;
    height: 80vh;
}

.RoomImage{
    width: 60vw;
    border: solid 1px;
    height: 80vh;
}

center > img{
    margin-top: 50px;
}

center > button{
    background-color: #b40000;
    color: white;
    border: solid 1px;
    font-size: large;
    width: 250px;
    height: 40px;
}

center > p{
    font-size: larger;
}

.roomDataDiv{
    display: flex;
    justify-content: center;
}