.userWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    width: 95%;
    background-color: whitesmoke;
}
.userWrapper>div{
    margin:  50px;
}

.userWrapper > div > h1{
   text-align: center;
}